body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 40px;
  background: #2c3e50;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}
